body{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.top-banner{
    
}
h1{
    font-size: 50px;
    font-family: 'Otomanopee One', sans-serif;
}
h2{
    font-size: 35px;
}
h3{
    font-family: 'Otomanopee One', sans-serif;
}
h4{
    font-family: 'Otomanopee One', sans-serif;
}
p{
    font-family: 'Yomogi', cursive;
    font-weight: bold;
}
.orange-class{
    color: darkmagenta;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 20px;
}
.half-width img{
    width: 80%;
    padding-left: 80px;
}
.link-button{
    text-decoration: none;
    font-family: 'Yomogi', cursive;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: bold;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px grey;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#pro-developer{
    border-left: 8px solid;
    border-image: linear-gradient(orange, red) 8;
    border-image-radius: 15px;
}
#web-developer{
    border-left: 8px solid;
    border-image: linear-gradient(cyan, blue) 8;
}